HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Application Properties ##


RoleService.java
src/main/resources/application.properties
src/main/java/com/jpql/controller/TestingEndPoint.java
src/main/java/com/jpql/dto/RequestRole.java

src/main/java/com/jpql/service/cart/TestingCart.java
src/main/resources/application.properties
src/main/java/com/jpql/entities/testing/TestingService.java
src/main/java/com/jpql/entities/testing/TestingRepo.java
src/main/java/com/jpql/entities/testing/TestingCart.java
src/main/java/com/jpql/entities/testing/TestingController.java
src/test.drawio
